/* This is just an example.  You shouldn't do this. */
#hipkiclient-hello
{
  /*color: red ! important;*/
}
#hipkiclient-toolbar-button
{
  list-style-image: url("chrome://hipkiclient/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#hipkiclient-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #hipkiclient-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #hipkiclient-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
